<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Your Email - Stock Central</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-reset-password.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="left-section">
            <img src="assets/warehouse.jpg" alt="Warehouse">
        </div>

        <div class="form-section">
            <div class="logo">
                <img src="assets/stock-central-logo.png" alt="Stock Central Logo">
            </div>

            <h1>Password Changed Successfully</h1>
            <p>Your password has been successfully updated</p>
            
            <form action="/login" method="POST">
                <button type="button" onclick="goToSignInPage()" class="btn-submit">Go to sign in</button>
            </form>
        </div>
    </div>

    <script>
        function goToSignInPage() {
            window.location.href = 'login';  // Redirect to the sign-in page
        }
    </script>
</body>
</html>
